.body {
  padding-top: 50px;
  padding-bottom: 40px;

  background-color: hsl(255, 11%, 22%)
}

.title {
  margin-bottom: 15px;

  color: white;
}

.item {
  margin-top: 7px;

  color: hsl(0, 0%, 75%);
  cursor: pointer;
}
.item:hover {
  color: hsl(180, 66%, 49%);
}

.img {
  width: 25px;
  height: 25px;

  margin-right: 20px;
  
  cursor: pointer;
}
.img:hover {
  color: hsl(180, 66%, 49%);
}

@media only screen and (max-width: 768px) {
  .row {
    text-align: center;
  }
  .title {
    margin-top: 25px;
  }
  .box-img {
    margin-top: 20px!important;
  }
}

@media only screen and (max-width: 1400px) {
  .img {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 1000px) {
  .img {
    margin-right: 10px;
  }
}
