.body {
  padding-top: 40px;
  width: 100%;
  background-color: hsl(0, 0%, 75%);
}

.box-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  text-align: center;
  padding-bottom: 40px;
  width: 33%;
}

.h1 {
  font-weight: 700;
}

.p {
  margin: 0;
  font-weight: 500;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  position: relative;
}

.divider {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: hsl(180, 66%, 49%);
  top: 150px;
}

.card {
  width: 30%;
  position: relative;
  height: 230px;
  border: none;
  background-color: hsl(0, 0%, 75%);
}

.card:nth-of-type(3) {
  margin-top: 30px;
}

.card:nth-of-type(4) {
  margin-top: 60px;
}

.boxImg {
  width: 80px;
  height: 80px;
  line-height: 80px;
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 1;
  text-align: center;
  background-color: hsl(255, 11%, 22%);
  border-radius: 50%;
}

.img {
  width: 40px;
  height: 40px;
}

.cardBody {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
}

.title {
  font-weight: 700;
  margin-top: 50px;
}

.text {
  font-weight: 500;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .body {
    padding-top: 80px;
  }
  .row {
    width: 100%;
    display: block;
  }
  .card {
    width: 100%;
    text-align: center;
  }
  .boxImg {
    left: 41%;
  }

  .card:nth-of-type(3) {
    margin-top: 60px;
  }
  
  .card:nth-of-type(4) {
    margin-top: 60px;
  }
  .divider {
    position: absolute;
    width: 10px;
    height: 60%;
    background-color: hsl(180, 66%, 49%);
    left: 48%;
  }
  .content {
    width: 90%;
  }
}

@media only screen and (max-width: 1025px) {
  .content {
    width: 48%;
  }
}


@media only screen and (max-width: 1200px) {
  .card {
    height: 370px;
  }
}

@media only screen and (max-width: 1400px) {
  .card {
    height: 260px;
  }
}
