.view {
  background-color: hsl(0, 0%, 75%);
  width: 100%;
  padding-top: 5px;
}

.box {
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  width: 100%; 
  display: inline-block;
  display: flex;
  justify-content: center;
  position: relative;
}

.row {
  background-color: white;
  border-radius: 20px;
  width: 100%;
}

.short {
  float: right;
  color: hsl(180, 66%, 49%);
}

.button {
  border-radius: 10px;
  color: white;
  background-color: hsl(180, 66%, 49%);
  border: none;
}

.button:hover {
  color: rgba(255, 255, 255, 0.5)!important;
  background-color: hsla(180, 66%, 49%, 0.5);
}

@media only screen and (max-width: 768px) {
  .view {
    padding-top: 80px;
  }
  .box {
    height: 150px;
  }
  .divider {
    position: absolute;
    background-color: hsl(0, 0%, 75%);
    width: 100%;
    height: 1px;
    top: 30%;
    z-index: 4;
  }
  .button {
    width: 100%;
    margin-bottom: 15px;
  }
}